<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">

    <title>Todo List - php json</title>
</head>

<body>
    <div id="app">
        <div class="whatToDo">
            <h1>Todo List</h1>
            <div id="compiti" v-for="element in tasksItems" :class="!(element.done) ? 'done' : ''">
                {{element.task}}
                <span><i class="fa-solid fa-trash"></i></span>

            </div>

        </div>
        <div class="formTask">
            <form action="create.php" method="POST" @submit.prevent="addTask()">
                <input type="text" v-model="newTask.new_task" placeholder="Inserisci un elemento..." required>
                <button type="submit">Inserisci</button>
            </form>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>

</body>

</html>